
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dmag: hsl(300, 43%, 22%);
    --spink: hsl(333, 60%, 67%);
    --gmag: hsl(303, 10%, 53%);
    --lmag: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div, section {
    border: 1px dashed teal;
} */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

}
.copy {
    flex: 1;
    color: var(--dmag);
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.copy__text {
    color: var(--gmag);
    line-height: 1.5rem;
}

.stars {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.stars__rated {
    padding: .6rem 2rem .6rem 2rem;
    display:  flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: var(--lmag);
    color: var(--dmag);
    font-weight: 700;
}

.stars__rated span {
    margin-right: 1rem;
}

.star {
    width: 15px;
}


/* ####????????????????????##### */
.user {
    padding: 1.8rem;
    background: var(--dmag);
    border-radius: 8px;
    color: var(--lmag);
    font-size: 11px;

}

.user__top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user__image {
    width: 35px;
    border-radius: 50%;
}

.user__top__name {
    margin-left: 1rem;
    color: var(--gmag);
}

.user__top__name b {
    color: var(--white);
}

.user__top__name p {
    font-weight: 500;
    margin-top: .3rem;
}

.user__text {
    margin-top: 1.5rem;
    line-height: 1.2rem;
}

@media (max-width: 699px) {
    body {
        background:     url('./images/bg-pattern-top-mobile.svg') top left,
                        url('./images/bg-pattern-bottom-mobile.svg') bottom right;
        background-repeat: no-repeat;
    }
    main {
        margin: 2rem;
        min-height: 500px;
    }
    section {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    .stars {
        align-items: stretch;
        margin: 1rem 0 1rem 0;
    }
    .stars__rated {
        flex-direction: column;
        margin: .3rem 0 .3rem 0;
    }

    .user {
        margin: .7rem 0 .7rem 0;
    }

    .copy {
        text-align: center;
    }
}

@media (min-width: 700px) {
    body {
        min-height: 100vh;

        background:     url('./images/bg-pattern-top-desktop.svg') top left,
                        url('./images/bg-pattern-bottom-desktop.svg') bottom right;
        background-repeat: no-repeat;
    }
    main {
        margin: 5rem;
        min-height: 500px;
        max-width: 1200px;
    }
    section {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
    }
    .stars__rated {
        flex-direction: row;
    }
    .stars__rated:nth-child(1) {
        align-self: flex-start;
    }
    .stars__rated:nth-child(2) {
        align-self: center;
    }
    .stars__rated:nth-child(3) {
        align-self: flex-end;
    }

    .user:nth-child(1) {
        align-self: flex-start;
        margin-right: 1rem;
    }
    .user:nth-child(2) {
        align-self: center;
        margin: 0 1rem 0 1 rem;
    }
    .user:nth-child(3) {
        align-self: flex-end;
        margin-left: 1rem;
    }
}
